main.page
    include ../header/header.pug

    include ../../fullscreen/fullscreen.pug            
         
    article.content 
       include generetion/generetion.pug
       include brands/brands.pug
       include slider/slider.pug
       include shop/shop.pug
       include subscribe/subscribe.pug 
    
    include ../footer/footer.pug