section.subscribe 
    .container 
        .subscribe__body 
            .subscribe__logo 
                img(src="img/logos/logo.png", alt="logo") 

            form(action="#" class="subscribe__form")
                legend.subscribe__legend Stay on the saddle!
                fieldset 
                    .subscribe__input 
                        input(type="text" 
                            autocomplete="off" 
                            name="form" 
                            placeholder="enter your email..." 
                            class="input")
                    .subscribe__button  
                        input(type="submit", value="go" class="subscribe__btn") 

