header.header 
    .header__row 
        nav(class="header__menu menu") 
            div(class="menu__icon icon-burger")
                 span
            .menu__body
                .header__logo 
                    img(src="img/logos/logo.png", alt="logo")
                ul.menu__list 
                    li 
                        a(href="#" class="menu__link") about us
                    li 
                        a(href="#" class="menu__link") work
                    li 
                         a(href="#" class="menu__link") shop
                    li 
                        a(href="#" class="menu__link") contact 
        .header__logo 
            img(src="img/logos/logo.png", alt="logo")