footer.footer 
    .container 
        .footer__row 
            .footer__column 
                .footer__address 
                    p AOD New York
                    p 2250 Lexington Avenue 
                    p New York, NY 10035  - info@domain.com

            .footer__column 
                div(class="footer__social social") 
                    a.social__link(href="#") 
                        img(src="img/logos/logo_twitter.png", alt="logo-twitter")
                    a.social__link(href="#") 
                        img(src="img/logos/logo_facebook.png", alt="logo-facebook")
                    a.social__link(href="#") 
                        img(src="img/logos/logo_pinterest.png", alt="logo-pinterest")

            .footer__column 
                a(href="#" class="footer__dev dev") 
                    span.dev__text Handcrafted by  
                    span.dev__icon 
                        img(src="img/logos/logo_yebo.png", alt="logo_yebo")   

